*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
p, a, h1, h2,
h3, h4, h5{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E7F6FF;
}
